body{
    cursor: url(Cursors/Green-Cursor.cur), auto;
    background-image: url(Photos/Matrix.png);
    background-size: cover;
    color: #00FF00;
    font-family: "consolas";
    border: 5px dashed #00FF00;
    border-radius: 1%;
    margin-left: 10px;
    text-align: center;
}
button, .inputbox{
    background-color: #000000;
    border: 3px solid #00FF00;
    border-radius: 5%;
    color: #00FF00;
    padding: 16px 32px;
    text-decoration: none;
    font-size: xx-large;
    font-weight: bold;
    color: #00FF00;
    font-family: "consolas";
    font-size: 2em;
    margin: 4px 2px;
    cursor: pointer;
}
p, .list, ::placeholder{
    font-size: xx-large;
    font-weight: bold;
    color: #00FF00;
    font-family: "consolas";
    text-align: center;
}
hr{
    border: 1px solid #00FF00;
    border-radius: 1px;
    margin-left: 140px;
    margin-right: 150px;
}
body::-webkit-scrollbar{
    background: #000000;
    width: 12px;
}
body::-webkit-scrollbar-track{
        background: #000000;
}
body::-webkit-scrollbar-thumb,body::-webkit-scrollbar-button{
    background-color: #00FF00;
    border-radius: 20px;
    border: 3px solid #000000;
}
iframe{
    border: 3px solid #00FF00;
    border-radius: 5%;
}
a{
    cursor: url(Cursors/Green-Pointer.cur), pointer;
}
